:root { --app-body-color: #424656; --app-body-bg: #FFFFFF; --app-bar-color: #424656; --app-bar-bg: #E0E0E0; --app-bar-color-active: #2172D2; --app-bar-border: 1px solid #dddddd; --app-bar-padding: 0.5rem 1rem; --app-bar-padding-s: 0.25rem 1rem; }

body { font-size: 1rem; font-weight: 400; line-height: 1.5; color: var(--app-body-color); background-color: var(--app-body-bg); }

body { height: 100vh; width: 100vw; margin: 0; padding: 0; overflow-x: hidden; overflow-y: auto; }

#app { display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-start; align-content: flex-start; align-items: stretch; height: 100vh; width: 100%; overflow: hidden; margin: 0; padding: 0; }

#app.animate { opacity: 0.1; }

#app.loaded { transition: opacity 0.95s linear; opacity: 1; }

#app > main { height: 100%; width: 100%; flex: 1 1 auto; align-self: auto; overflow-x: hidden; overflow-y: auto; }

body > main { overflow-x: hidden; overflow-y: auto; }

input[type='checkbox'] { height: 1.4rem; width: 1.4rem; align-self: center; }

.section { padding: 1rem clamp(1rem, 5%, 3rem); margin: 0 auto; }

.section.small { max-width: 800px; }

.section-x { padding: 0 clamp(1rem, 5%, 3rem); margin: 0 auto; }

.section-x.small { max-width: 800px; }

.truncate { overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }

.grid-row-1 > *, .grid-row-2 > * { overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }

.grid-row-1 > *, .grid-row-2 > * { margin: 0 0 0 0; align-self: center; }

.grid-row-1 { display: grid; grid-template-columns: 1fr minmax(150px, 280px); grid-template-rows: 30px; grid-gap: 1rem; padding: 0.5rem 0; margin: 0; }

.grid-row-2 { display: grid; grid-template-columns: minmax(25px, 45px) 1fr; grid-template-rows: 30px; grid-gap: 1rem; padding: 0.5rem 0; margin: 0; }

.Aligner { height: 100%; display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-content: center; align-items: center; }

.Site { display: flex; height: 100%; width: 100%; flex-direction: column; overflow: hidden; }

.Site > main, .Site > .flex-grow { flex: 1 1 auto; overflow-x: hidden; overflow-y: auto; }
