* {
   box-sizing: border-box;
}

html,
body {
   height: 100vh;
   width: 100vw;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   overflow-y: auto;
}

#app {
   background-image: url("assets/img/pulpfiction.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center right;
   filter: grayscale(100%) opacity(90%);

}
.lorem-box {
   position: absolute;
   width: 100%;
   max-width: 680px;
   bottom: 0;
   margin: auto;
}
@media only screen and (min-width: 690px) { 
   .lorem-box {
   bottom: 1rem;
   right: 1rem;
   }
}
.section {
   padding: 1rem clamp(1rem, 5%, 3rem);
   margin: 0 auto;
}

.section.small {
   max-width: 800px;
}